{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.model.brand.name }} - {{ vehicle.model.name }}{% endblock %}

{% block body %}
    <div class="container mx-auto px-8 py-8">
        <h1 class="title text-center">{{ vehicle.model.name }}</h1>

        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
            {{ component('detail', {
                'vehicle': vehicle,
                'type': 'userVehicle',
                'features': features,
            }) }}
        </div>
    </div>
{% endblock %}
