{% extends 'base.html.twig' %}

{% block title %}CarSeller{% endblock %}

{% block body %}
    <section class="card-list">
        <div class="card">
            <div class="card-icon-text-blue">
                L
            </div>
            <h3 class="card-title">Locations</h3>
            <p class="card-text">Service de location de véhicules</p>
            <a href="{{ path('app_vehicle_locations') }}" class="card-button">Voir les locations</a>
        </div>

        <div class="card">
            <div class="card-icon-text-orange">
                V
            </div>

            <h3 class="card-title">Ventes</h3>
            <p class="card-text">Service de vente de véhicules</p>
            <a href="{{ path('app_home') }}" class="card-button">Voir les ventes</a>
        </div>
    </section>
{% endblock %}
