<div class="{{ column_count == 1 ? 'card-list-1' : column_count == 2 ? 'card-list-2' : 'card-list-3' }}">
    {% for item in items %}
        {% if type == 'rental' or type == 'sale' or type == 'userVehicle' %}
            {{ component('vehicle_card', {
                'vehicle': item,
                'detail_path': detail_path is defined ? detail_path ~ type ~ '/' ~ item.id : null,
                'type': type,
            }) }}
        {% elseif type == 'maintenance' %}
            {{ component('maintenance_card', {
                'maintenance': item,
                'detail_path': detail_path is defined ? detail_path ~ type ~ '/' ~ item.id : null,
            }) }}
        {% elseif type == 'maintenanceRequest' %}
            {{ component('maintenance_request_card', {
                'maintenanceRequest': item,
                'detail_path': detail_path is defined ? detail_path ~ type ~ '/' ~ item.id : null,
            }) }}
        {% endif %}
    {% else %}
        <p class="text-gray-500 italic">Aucun élément à afficher.</p>
    {% endfor %}
</div>
