<div class="{{ column_count == 2 ? 'card-list-2' : 'card-list-3' }}">
    {% for item in items %}
        {{ component('card', {
            'vehicle': item,
            'detail_path': detail_path is defined ? detail_path ~ type ~ '/' ~ item.id : null,
            'type': type,
        }) }}
    {% else %}
        <p class="text-gray-500 italic">Aucun élément à afficher.</p>
    {% endfor %}
</div>
